### Thêm thư viện Pandas

In [1]:
import pandas as pd

### Tạo hàm tách field a bởi dấu ',' và đảo ngược, sau đó đưa tới index thứ x

In [2]:
def fieldshift(df,a,x,b,y):
    df[['first','last']] = df[a].str.split(b,expand=True)
    df.fillna('',inplace=True)
    if (y == 1):
        df['full'] = df['last'] + ' ' + df['first']
    elif (y == 0):
        df['full'] = df['first'] + ' ' + df['last']
    df = df.drop(['first','last', a], 1)
    second_column = df.pop('full')
    df.insert(x, a, second_column)
    return df

### Đọc file và áp dụng hàm, xuất file csv output

In [6]:
df = pd.read_csv('books_new_N2.csv',delimiter=',')
display(df)
df = fieldshift(df,'Author',1,',',1)
df = fieldshift(df,'Title',0,',',1)
df = fieldshift(df,'SubGenre',3,'_',0)
df.to_csv('dulieuchuanhoa.csv')

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

### Tách file csv đã xử lí thành 1.csv và 2.csv

In [4]:
csvfile = open('dulieuchuanhoa.csv', 'r').readlines()
#mo access
#mo table, ko co tao moi
filename = 1
for i in range(len(csvfile)):
    if i % 110 == 0:
        open(str(filename) + '.csv', 'w+').writelines(csvfile[i:i+110])
        filename += 1

In [5]:
display(df)

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,Jaideva Goswami,tech,signal processing,228,Wiley
1,Data Smart,John Foreman,tech,data science,235,Wiley
2,God Created the Integers,Stephen Hawking,tech,mathematics,197,Penguin
3,Superfreakonomics,Stephen Dubner,science,economics,179,HarperCollins
4,Orientalism,Edward Said,nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,Terence Tao,science,mathematics,252,
207,Image Processing with MATLAB,Steve Eddins,tech,signal processing,241,
208,Animal Farm,George Orwell,fiction,classic,180,
209,The Idiot,Fyodor Dostoevsky,fiction,classic,197,
210,A Christmas Carol,Charles Dickens,fiction,classic,196,